.eachCartBot{
    width: 80vw;
}
.cartQuantity{
    color: #b0d628;
}
.cartBots{
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
    justify-content: center;
}
