.CartValue{
    display: flex;
    justify-content: space-around;
    width: 100vw;
    flex-direction: row;
}
.noOfItemsInCart{
    color: #a3ce5e;
    font-weight: 400;
}
.cartImage{
    height: 55px;
}
.cartText{
    text-decoration: none;
}
.botsWelcome{
    text-align: center;
    color:#00f75f;
}
@media (max-width:767px){
    .CartValue{
        display: flex;
        flex-direction: column;
    }
}